@import url("./theme/theme.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/roboto@4.5.8/latin-400.min.css");
@import url("https://cdn.jsdelivr.net/npm/@fontsource/roboto@4.5.8/latin-500.min.css");
@import url("https://cdn.jsdelivr.net/npm/material-icons@1.13.6/iconfont/outlined.min.css");

body {
  --pink-butterfly-color: #87458a;
  --orange-butterfly-color: #7f5600;
  --blue-butterfly-color: #006685;
  --md-icon-font: "Material Icons Outlined";
  margin: 0;
}

#menu {
  max-width: 1200px;
  margin: 0 auto 134px;
}

ul {
  padding-left: 0;
  list-style: none;
}

li {
  margin: 16px 0;
  display: flex;
  align-items: center;
  gap: 4px;
}

.pink-butterfly {
  color: var(--pink-butterfly-color);
}

.orange-butterfly {
  color: var(--orange-butterfly-color);
}

.blue-butterfly {
  color: var(--blue-butterfly-color);
}

md-filled-select,
md-slider {
  min-width: 100%;
}

md-fab {
  position: fixed;
  bottom: 16px;
  right: calc(50% - 600px);
}

#game {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}

#gameboard {
  position: relative;
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameboard p {
  padding: 24px 0;
  width: 280px;
  border-radius: 28px;
  text-align: center;
  z-index: 2;
}

#gameboard md-icon {
  position: absolute;
  transition: 0.125s cubic-bezier(0.2, 0, 0, 1);
}

.butterfly {
  z-index: 1;
}

#gameboard .primary-text {
  animation: 2s shrink cubic-bezier(0.05, 0.7, 0.1, 1);
}

#sidebar {
  flex: 1;
  padding: 0 32px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

#highlight-button,
#pause-button {
  margin-top: 26px;
  display: block;
  width: fit-content;
}

#end {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#end-menu-button {
  margin-top: 32px;
}

.space-between {
  margin-top: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--md-sys-color-scrim);
  opacity: 25%;
}

.invisible {
  visibility: hidden;
}

.removed {
  display: none !important;
}

@keyframes shrink {
  from {
    transform: scale(16);
    z-index: 2;
  }
}

.light {
  --pink-butterfly-color: #87458a;
  --orange-butterfly-color: #7f5600;
  --blue-butterfly-color: #006685;

  --md-sys-color-primary: var(--md-sys-color-primary-light);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-light);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-light);
  --md-sys-color-on-primary-container: var(
    --md-sys-color-on-primary-container-light
  );
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-light);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-light);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-light);
  --md-sys-color-on-primary-fixed-variant: var(
    --md-sys-color-on-primary-fixed-variant-light
  );
  --md-sys-color-secondary: var(--md-sys-color-secondary-light);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-light);
  --md-sys-color-secondary-container: var(
    --md-sys-color-secondary-container-light
  );
  --md-sys-color-on-secondary-container: var(
    --md-sys-color-on-secondary-container-light
  );
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-light);
  --md-sys-color-on-secondary-fixed: var(
    --md-sys-color-on-secondary-fixed-light
  );
  --md-sys-color-secondary-fixed-dim: var(
    --md-sys-color-secondary-fixed-dim-light
  );
  --md-sys-color-on-secondary-fixed-variant: var(
    --md-sys-color-on-secondary-fixed-variant-light
  );
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-light);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-light);
  --md-sys-color-tertiary-container: var(
    --md-sys-color-tertiary-container-light
  );
  --md-sys-color-on-tertiary-container: var(
    --md-sys-color-on-tertiary-container-light
  );
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-light);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-light);
  --md-sys-color-tertiary-fixed-dim: var(
    --md-sys-color-tertiary-fixed-dim-light
  );
  --md-sys-color-on-tertiary-fixed-variant: var(
    --md-sys-color-on-tertiary-fixed-variant-light
  );
  --md-sys-color-error: var(--md-sys-color-error-light);
  --md-sys-color-error-container: var(--md-sys-color-error-container-light);
  --md-sys-color-on-error: var(--md-sys-color-on-error-light);
  --md-sys-color-on-error-container: var(
    --md-sys-color-on-error-container-light
  );
  --md-sys-color-background: var(--md-sys-color-background-light);
  --md-sys-color-on-background: var(--md-sys-color-on-background-light);
  --md-sys-color-outline: var(--md-sys-color-outline-light);
  --md-sys-color-inverse-on-surface: var(
    --md-sys-color-inverse-on-surface-light
  );
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-light);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-light);
  --md-sys-color-shadow: var(--md-sys-color-shadow-light);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-light);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-light);
  --md-sys-color-scrim: var(--md-sys-color-scrim-light);
  --md-sys-color-surface: var(--md-sys-color-surface-light);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-light);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-light);
  --md-sys-color-on-surface-variant: var(
    --md-sys-color-on-surface-variant-light
  );
  --md-sys-color-surface-container-highest: var(
    --md-sys-color-surface-container-highest-light
  );
  --md-sys-color-surface-container-high: var(
    --md-sys-color-surface-container-high-light
  );
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-light);
  --md-sys-color-surface-container-low: var(
    --md-sys-color-surface-container-low-light
  );
  --md-sys-color-surface-container-lowest: var(
    --md-sys-color-surface-container-lowest-light
  );
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-light);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-light);
}

.dark {
  --pink-butterfly-color: #faacfa;
  --orange-butterfly-color: #fcbb4a;
  --blue-butterfly-color: #6bd3ff;

  --md-sys-color-primary: var(--md-sys-color-primary-dark);
  --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
  --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
  --md-sys-color-on-primary-container: var(
    --md-sys-color-on-primary-container-dark
  );
  --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark);
  --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark);
  --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark);
  --md-sys-color-on-primary-fixed-variant: var(
    --md-sys-color-on-primary-fixed-variant-dark
  );
  --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
  --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
  --md-sys-color-secondary-container: var(
    --md-sys-color-secondary-container-dark
  );
  --md-sys-color-on-secondary-container: var(
    --md-sys-color-on-secondary-container-dark
  );
  --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark);
  --md-sys-color-on-secondary-fixed: var(
    --md-sys-color-on-secondary-fixed-dark
  );
  --md-sys-color-secondary-fixed-dim: var(
    --md-sys-color-secondary-fixed-dim-dark
  );
  --md-sys-color-on-secondary-fixed-variant: var(
    --md-sys-color-on-secondary-fixed-variant-dark
  );
  --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
  --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
  --md-sys-color-tertiary-container: var(
    --md-sys-color-tertiary-container-dark
  );
  --md-sys-color-on-tertiary-container: var(
    --md-sys-color-on-tertiary-container-dark
  );
  --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark);
  --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark);
  --md-sys-color-tertiary-fixed-dim: var(
    --md-sys-color-tertiary-fixed-dim-dark
  );
  --md-sys-color-on-tertiary-fixed-variant: var(
    --md-sys-color-on-tertiary-fixed-variant-dark
  );
  --md-sys-color-error: var(--md-sys-color-error-dark);
  --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
  --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
  --md-sys-color-on-error-container: var(
    --md-sys-color-on-error-container-dark
  );
  --md-sys-color-background: var(--md-sys-color-background-dark);
  --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
  --md-sys-color-outline: var(--md-sys-color-outline-dark);
  --md-sys-color-inverse-on-surface: var(
    --md-sys-color-inverse-on-surface-dark
  );
  --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
  --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
  --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
  --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
  --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
  --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
  --md-sys-color-surface: var(--md-sys-color-surface-dark);
  --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
  --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
  --md-sys-color-on-surface-variant: var(
    --md-sys-color-on-surface-variant-dark
  );
  --md-sys-color-surface-container-highest: var(
    --md-sys-color-surface-container-highest-dark
  );
  --md-sys-color-surface-container-high: var(
    --md-sys-color-surface-container-high-dark
  );
  --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
  --md-sys-color-surface-container-low: var(
    --md-sys-color-surface-container-low-dark
  );
  --md-sys-color-surface-container-lowest: var(
    --md-sys-color-surface-container-lowest-dark
  );
  --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark);
  --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark);
}

@media (prefers-color-scheme: dark) {
  body {
    --pink-butterfly-color: #faacfa;
    --orange-butterfly-color: #fcbb4a;
    --blue-butterfly-color: #6bd3ff;
  }
}
