<!-- Struktur des HTML-Dokuments:
- Kopfteil mit Navigation
- Hauptteil mit Seitenleiste
- Fußteil mit Copyright, Impressum, etc.
 -->
<!-- Kopfteil -->
<app-header></app-header>

<!-- Hauptteil -->
<div class="container">
  <div class="row">
    <!-- Breite 3/4 (9/12) -->
    <main class="col-12 col-md-9">
      <router-outlet></router-outlet>
    </main>

    <!-- Breite 1/4 (3/12) -->
    <app-seitenleiste
      [articles]="articles"
      class="col-12 col-md-3 mt-5"
    ></app-seitenleiste>
  </div>
  <!-- row -->
</div>
<!-- container -->
<app-footer></app-footer>
